.budget-shop-container {
  height: auto;
  width: 100%;
  padding: 50px 20px;
  text-align: center;
}

.budget-shop-heading {
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: 600;
}

.budget-shop-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 1280px;
  margin: auto;
}


.budget-card {
  height: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  aspect-ratio: 1 / 1; 

}


.budget-card img {
  border-radius: 20px;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.4s ease;
}


.budget-card:hover img {
  transform: scale(1.05);
}


.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  opacity: 0;
  transition: 0.3s ease;
}

.budget-card:hover .overlay {
  opacity: 1;
}


@media (max-width: 992px) {
  .budget-shop-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 600px) {
  .budget-shop-grid {
    grid-template-columns: 1fr;
  }
}